AUTH_SECRET=YOUR_AUTH_SECRET
AUTH_AZURE_AD_B2C_CLIENT_ID=YOUR_AUTH_AZURE_AD_B2C_CLIENT_ID
AUTH_AZURE_AD_B2C_CLIENT_SECRET=YOUR_AUTH_AZURE_AD_B2C_CLIENT_SECRET
AUTH_AZURE_AD_B2C_TENANT_ID=YOUR_AUTH_AZURE_AD_B2C_TENANT_ID
AUTH_AZURE_AD_B2C_TENANT_NAME=YOUR_AUTH_AZURE_AD_B2C_TENANT_NAME
AUTH_AZURE_AD_B2C_PRIMARY_USER_FLOW=YOUR_AUTH_AZURE_AD_B2C_PRIMARY_USER_FLOW
AUTH_AZURE_AD_B2C_DEMO_READ_SCOPE=YOUR_AUTH_AZURE_AD_B2C_DEMO_READ_SCOPE
AUTH_AZURE_AD_B2C_DEMO_WRITE_SCOPE=YOUR_AUTH_AZURE_AD_B2C_DEMO_WRITE_SCOPE